---
layout: archive
title: "Research Posters"
permalink: /posters/
author_profile: true
---

{% include base_path %}

<p>Feel free to use these as templates, <i>especially</i> if the alternative
  is using printouts of your PowerPoint slides.</p>
<p><b>Warning:</b> Some of these posters predate my enthusiastic commitment to
  <a href='http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1002128'
  onmouseover='this.style.textDecoration="underline"'
  onmouseout='this.style.textDecoration="none"'>
  the crusade</a>

  <a href='https://www.nature.com/news/bar-graphs-criticized-for-misrepresenting-data-1.17383'
  onmouseover='this.style.textDecoration="underline"'
  onmouseout='this.style.textDecoration="none"'>
  against</a>

  <a href='http://genomicsclass.github.io/book/pages/plots_to_avoid.html'
  onmouseover='this.style.textDecoration="underline"'
  onmouseout='this.style.textDecoration="none"'>
  the bar plot.</a>
</p>

{% for post in site.posters %}
  {% include archive-single.html %}
{% endfor %}
