---
layout: archive
title: "Research Posters"
permalink: /posters/
author_profile: true
---

{% include base_path %}

<p>Feel free to use these as templates!</p>
<p><b>Warning:</b> One of these posters predates my
  <a> href="http://genomicsclass.github.io/book/pages/plots_to_avoid.html">abandonment</a>
   <a> href="https://www.nature.com/news/bar-graphs-criticized-for-misrepresenting-data-1.17383">of the</a>
   <a> href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1002128">bar plot</a>.</p>
<p><a href="https://www.w3schools.com/html/">Visit our HTML tutorial</a></p>
{% for post in site.posters %}
  {% include archive-single.html %}
{% endfor %}
