---
layout: archive
title: "Research Posters"
permalink: /posters/
author_profile: true
---

{% include base_path %}

<p>Feel free to use these as templates!</p>
<p><b>Warning:</b> One of these posters predates my <a href='index.html' onmouseover='this.style.textDecoration="none"' onmouseout='this.style.textDecoration="underline"'>Click Me</a>
  <a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1002128">zealous abandonment</a>
   <a href="https://www.nature.com/news/bar-graphs-criticized-for-misrepresenting-data-1.17383">of the</a>
   <a href="http://genomicsclass.github.io/book/pages/plots_to_avoid.html">bar plot</a>.</p>
   <a href='index.html'
       onmouseover='this.style.textDecoration="none"'
       onmouseout='this.style.textDecoration="underline"'>
       Click Me
   </a>

{% for post in site.posters %}
  {% include archive-single.html %}
{% endfor %}
