---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if author.googlescholar %}
  You can also find my articles on <u><a href="{{author.googlescholar}}">my Google Scholar profile</a>.</u>
{% endif %}

{% include base_path %}

<p>See <u><a href="cvlink">my CV</a></u> for a complete list of publications, talks,
  posters, awards, and professional + biographical ephemeralia.</p>

{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %}
